/* Asimovian font local */
@font-face {
	font-family: 'Asimovian';
	src: url('/fonts/Asimovian/Asimovian-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
		font-display: swap;
}
