---
const links = [
  { ref: '01', name: 'Inicio', href: '/' },
  { ref: '02', name: 'Sobre nosotros', href: '/sobre-nosotros' },
  { ref: '03', name: 'Precios', href: '/precios' },
  { ref: '04', name: 'Contacto', href: '/contacto' },
];
---

<header class="bg-primary-50 transition" id="site-header">
  <div
    class="mx-auto flex max-w-2xl items-center justify-between px-4 py-4 sm:px-6 sm:py-6 lg:max-w-7xl lg:px-8"
  >
    <!-- Brand logo -->
    <div class="flex">
      <a
        href="/"
        class="rounded-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-primary-950"
      >
        <span class="sr-only">Mi Empresa</span>
          <img
            id="site-logo"
            class="h-8 w-auto invert opacity-80"
            width="40"
            height="40"
            src="/assets/logos/logo-32.png"
            srcset="/assets/logos/logo-32.png 32w, /assets/logos/logo-180.png 180w, /assets/logos/logo-512.png 512w"
            sizes="40px"
            alt="Logo de la Empresa"
          />
      </a>
    </div>

    <!-- Actions -->
    <div class="-mr-2 flex items-center space-x-2 sm:space-x-3">
      <button
        type="button"
        class="inline-flex h-14 w-14 items-center justify-center rounded-full text-primary-950 ring-primary-950 transition hover:bg-primary-500/10 focus:outline-none focus-visible:ring-2"
        onclick="window.toggleMenu()"
      >
        <span class="sr-only">Toggle menu</span>
        <svg
          class="block h-8 w-8"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path d="M19 8H5V10H19V8ZM19 14H5V16H19V14Z"></path>
        </svg>
      </button>
    </div>
  </div>

  <!-- Menu content -->
  <div
    class="mx-auto hidden max-w-2xl px-4 opacity-0 transition-opacity duration-200 sm:px-6 lg:max-w-7xl lg:px-8"
    id="website-menu"
    style="pointer-events: none;"
  >
    <div class="grid grid-cols-1 gap-16 pb-24 pt-6 lg:grid-cols-2 lg:pt-12">
      <div
        class="hidden items-center justify-center rounded-3xl bg-primary-500/10 lg:flex"
        style="padding:0;"
      >
        <div class="h-full w-full">
          <img
            src="/cabins/img-nav.webp"
            alt="Cabañas Patagonia"
            class="h-full w-full rounded-2xl object-cover"
            style="aspect-ratio: 16/9;"
          />
        </div>
      </div>

      <!-- Navigation -->
      <nav class="flex flex-col gap-1 divide-y divide-primary-900/10">
        {
          links.map((link) => (
            <a
              href={link.href}
              class="group inline-flex py-6 text-3xl font-medium tracking-tight text-primary-950 transition focus-visible:outline-none sm:py-8 sm:text-4xl"
            >
              <div class="flex flex-1 items-center justify-between rounded-3xl group-focus-visible:outline group-focus-visible:outline-2 group-focus-visible:outline-offset-2 group-focus-visible:outline-primary-950">
                <div class="flex items-center gap-6">
                  <span class="text-xs">{link.ref}</span>
                  <span class="font-heading group-hover:underline">{link.name}</span>
                </div>
                <svg
                  class="h-6 w-6 text-primary-600 sm:h-8 sm:w-8"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                >
                  <path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z" />
                </svg>
              </div>
            </a>
          ))
        }
      </nav>
    </div>
  </div>
</header>
<script>
  declare global {
    interface Window {
      toggleMenu: () => void;
    }
  }
  window.toggleMenu = function () {
    const menu = document.getElementById('website-menu');
    if (!menu) return;
    if (!menu.classList.contains('hidden')) {
      menu.style.opacity = '0';
      menu.style.pointerEvents = 'none';
      setTimeout(() => {
        menu.classList.add('hidden');
      }, 200);
    } else {
      menu.classList.remove('hidden');
      menu.style.opacity = '0';
      menu.style.pointerEvents = 'none';
      setTimeout(() => {
        menu.style.opacity = '1';
        menu.style.pointerEvents = 'auto';
      }, 10);
    }
  };
</script>
