---
import '@fontsource/inter/latin-400.css?display=swap';
import '@fontsource/inter/latin-500.css?display=swap';
import { ClientRouter } from 'astro:transitions';
import Footer from '../components/layout/Footer.astro';
import Header from '../components/layout/Header.astro';

interface Props {
  description: string;
  title: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <style is:global>
      [x-cloak] {
        display: none !important;
      }
      @font-face {
        font-family: 'Asimovian';
        src: url('/fonts/Asimovian/Asimovian-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <title>{title}</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <!-- Preconnect para Google Fonts y recursos externos -->
  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <ClientRouter />
  </head>
  <body class="bg-primary-50 text-primary-950/90 antialiased transition">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
